footer {
  background-color: #b8b8b8;
  padding: 1rem 0;
}

.footer-links {
  display: flex;
}

.footer-links i {
  font-size: 2rem;
}

.footer-link,
.footer-link:visited {
  color: #ffffff;
  transition: color 0.25s;
  margin-right: 2rem;
}

.footer-link:hover {
  color: #ffd257;
}
