footer {
    background-color: #b8b8b8;
    padding: 1rem 0;
}

.footer-links {
    display: flex;

    i {
        font-size: 2rem;
    }
}

.footer-link {
    display: flex;
    transition: color 0.25s;
    margin-right: 2rem;
    
    &, &:visited {
        color: #ffffff;
    }

    &:hover {
        color: #ffd257;
    }

    svg {
        height: 32px;
    }
}
